

body{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
    /
}
nav{
    background-color: rgb(252, 250, 248);
    height: 50px;
 
position: sticky;
    z-index: 6;
    top:0;
}
nav ul{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    list-style: none;
}
nav ul span{
font-size: 40px;
display: flex;
align-items: center;
color: transparent;
background-clip: text;
background-image: linear-gradient(150deg,#0126f8,#1ab0f5,hsl(241, 93%, 56%));


}
.elnasr{
    background-image: linear-gradient(150deg,#7d8ff5,#c872f0,hsl(313, 94%, 50%));

}
.links{
    display: flex;
    gap: 15px;
    margin-right: 100px;

}
.newlinks{
    display: none;
}
nav a{
    display: inline-block;
    text-decoration: none;
    transition: 1s;
    font-size: 25px;
color: transparent;
background-clip: text;
background-image: linear-gradient(150deg,#1c91f0,#1393fc,hsl(241, 68%, 79%));

}
nav a:hover{
transform: scale(1.1);
background-color: #1c91f0;
}

nav img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.menubtn{

display: none;
}
.dropdown {
    position: relative;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #dbdbf0;
    box-shadow: 0 8px 8px rgba(0,0,0,0.1);
    min-width: 150px;
    list-style: none;
    padding: 10px 0;
    z-index: 100;
}

.submenu li a {
    color: #333;
    padding: 8px 15px;
    display: block;
    text-decoration: none;
}

.dropdown:hover .submenu {
    display: block;
}

.submenu li a:hover {
    background-color: #1c91f0;
    color: white;
}
#home{
    background-image: url("imgs/home.jpg");
     background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    background-color: #111411;
    scroll-behavior: smooth;
    padding-top: 10px;
   
}
.hello{
 text-align: center;
    font-size: 60px;
    padding-left: 10px;
    width: auto;

    white-space: pre-wrap;
    color: #eef095;
    background-color: #040c1f21;

}

.ourproducts{
    width: 170px;
    height: 50px;
    display: flex-block;
    justify-self: center;
    align-content: center;
    text-align: center;
    font-size: x-large;
    color: white;
    background-color:rgb(104, 250, 85);
    border-radius: 5px;

}

#products{
    height: auto;
background-image: linear-gradient(150deg,#b0b8be,#bec1c4,hsl(241, 68%, 79%));
    scroll-behavior: smooth;
    text-align: center;
    padding: 20px;
}

.products-grid {
  justify-content: right;
display: grid;
grid-template-columns: repeat(4,1fr);
gap: 10px;
/* height: 250px;  */
overflow: hidden;
transition: 0.3s;
  direction: rtl;
}
.products-grid.collapsed
.project:nth-child(n+5){
    display: none;
}
.project {
  background: #d8d7d7;
  border-radius: 15px;
  overflow: hidden;
  transition: 0.4s;
   border: 1px solid #004ff9;
  box-shadow: 1px 1px 5px rgb(0, 25, 249);
  
}
.project a{
    font-size: 25px;
    text-decoration: none;
    color: #111411;
    background-color: #4af108;
    width: 90%;
    display: inline-flex;
    height: auto;
    border-radius: 10px;  
    text-align: center;

}

.project:hover {
  transform: translateY(-10px);
  
}
.wa_link{
    display: flex;
    align-items: center;


}

.project img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  display: block;
}
.wa_link .whatsapp{
    width: 50px;
    height: 50px;
    display:inline-flex;
    border-radius: 50%;
    margin: 2px;
    margin-left: 10px;
    

}
.project .info {
  padding: 20px;
}

.project h3 {
  margin-bottom: 10px;
}

.project p {
  color: #292727;
  font-size: 20px;
  height: 70px;
  text-align: right;
}
#تلاجات,#غسالات,#موبيلات
{
   
    display:grid;
    width:100%;
    height: auto;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 1px 1px; 
    justify-self: center;
    margin-right: 10px;
}
.product_name{
    text-align: right;
    font-size: 25px;
    color: transparent;
background-clip: text;
background-image: linear-gradient(150deg,#3509f8,#5f9ff1,hsl(241, 94%, 56%));
margin-top: -17px;

}
.part_name{
display: flex   ;
width: 250px;
height: 50px;
justify-self: center;
align-items: center;
justify-content: center;
 background-color: #0126f8;
font-size: 35px;
color:white;
border-radius: 3px;
    animation-name: part_name;
    animation-iteration-count: infinite;
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-direction:normal;
}
@keyframes part_name {
0%{
    translate: -500px
}

100%{
    translate: 500px;
    transition: linear;
}
}
.showall{
    display: flex;
    width: auto;
    height: auto;
    border: none;
    font-size: 30px;
    background: none;
    
}
.showall:hover{
background-color: #ffeded;
cursor: pointer;
}

#contact img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}
#contact .location{
     position: fixed;
    bottom: 30px;
    height: 60px;
    width: 60px;
    background-color: aliceblue;
    left: 20px;
    z-index: 1000;
}




@media (max-width: 600px) {
    body{
    overflow-x: hidden;
}
nav{
    width: 100%;
    overflow-x: hidden;
    display: block;
    height: 60px;
    padding: 10px;
    position: sticky;
    z-index: 600;
    top:0;
}

nav ul span{
font-size: 30px;



}
.menubtn{
    display: flex;
    margin-right: 20px;
    border: none;
    background: none;
    font-size: 25px;
}
.links{
    gap: 10px;
    margin-right: 10px;
    display: none;
}
.newlinks{
    display: block;
    text-align: center;
       position: sticky;
    z-index: 600;
    top:0;
}
.newlinks li a{
    color: rgb(11, 83, 238);
    font-size: 30px;
     border: 3px black solid;
     width: 90%;
     justify-self: center;
     margin-bottom: 10px;
     border-radius: 15px;
}
nav a{
  
    font-size: 25px;
    display: block;

}





.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #dbdbf0;
    box-shadow: 0 8px 8px rgba(0,0,0,0.1);
    min-width: 150px;
    list-style: none;
    padding: 10px 0;
    z-index: 100;
}

.submenu li a {
    color: #333;
    padding: 8px 15px;
    display: block;
    text-decoration: none;
}

.dropdown:hover .submenu {
    display: block;
}

.submenu li a:hover {
    background-color: #1c91f0;
    color: white;
}
.hello{
    font-size: 45px;
}

.products-grid {
width: 100%;
grid-template-columns: repeat(2,1fr);
gap: 3px;

}

.project {
  background: #d8d7d7;
  border-radius: 7px;
  overflow: hidden;
  transition: 0.4s;
   border: 1px solid #004ff9;
  box-shadow: 1px 1px 5px rgb(0, 25, 249);
  
}
.project a{
    font-size: 15px;
  
    width: 100%;
  

}


.wa_link{
    display: flex;
    align-items: center;


}

.project img {
  width: 100%;
  height: 140px;
  
}
.wa_link .whatsapp{
    width: 30px;
    height: 30px;    

}
.project .info {
  padding: 10px;
}

.project h3 {
 font-size: 20px;
 margin-top: 2px;
}
.project p {
  color: #292727;
  font-size: 15px;
height: 45px;
    overflow-x: scroll;

}

h3{
    text-align: right;
    font-size: 25px;
   

}
@keyframes part_name {
0%{
    background-color: #004ff9;
}

100%{
background-color: #4608f1;
}
}
}